.dataTables tbody {
  height: 80px;
}

.perc_title,
.perc_value {
  pointer-events: none;
  user-select: none;
}

.program_arc_selected {
  fill: yellow;
}

.program_total_foreground {
  fill: #2E7AF9;
}

.program_total_background {
  fill: #DFEAFD;
}